@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html,
  body {
    @apply scroll-smooth;
  }

  /* body {
    transition-property: opacity, transform, filter, background;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
  } */

  .page-transition {
    @apply translate-y-10 bg-primary-900 opacity-0 blur-[12px] filter;
  }

  body {
    @apply overflow-x-hidden bg-primary-900 antialiased transition-all duration-500 ease-in-out;
  }

  p {
    @apply font-inter font-light leading-normal;
  }

  .wrapper {
    @apply mx-auto w-full px-4 sm:max-w-7xl;
  }

  .circle-container {
    position: relative;
    width: 100%;
    height: 500px; /* Adjust to fit your layout */
    perspective: 1000px; /* For 3D perspective */
  }

  .circle {
    position: absolute;
    border-radius: 50%;
    background: rgba(11, 213, 68, 0.1);
  }

  .circle1 {
    width: 300px;
    height: 300px;
    top: 50px;
    left: 100px;
  }

  .circle2 {
    width: 200px;
    height: 200px;
    top: 150px;
    left: 300px;
  }

  .circle3 {
    width: 400px;
    height: 400px;
    top: 100px;
    left: 500px;
  }
}

.transition-enter {
  opacity: 0;
  transform: scale(0.8) translateX(-100%);
}
